form {
    border:solid black 1px;
    font-family:Verdana;
    font-size:12px;
    background-color:#B2DFDB;
}
body {
    background-color:#448AFF;
}
h3 {
    text-align:center;
    font-family:Verdana;
    font-size:18px;
}
p {
    text-align:center;
    font-family:Verdana;
    font-size:14px;
}
#submit {
    font-family:Verdana;
    font-size:14px;
    text-align:center;
}
